@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
      background-image: url(ai3.gif);
      font-family: Arial, sans-serif;
      background-size: auto;
    }

    
.ah{
    
  align-items: center;
  background-color: black;
  background-size: auto;
  font-family: Times New Roman;
  font-size: 22px;
}
.ah a{
 text-decoration: none;
 color: white;
}

.image-slide-container img {
  position: absolute;
  top: 17%;
  right: 14%;
  width: 50%;
  height: 50%;
  transition: opacity 0.5s;
}

#text-input{
  height: 50%;
  width: 50%;
  position: absolute;
  top: 20%;
  right: 35%;
  background-color: rgb(171, 34, 212);
}

#convert-button{
  position: absolute;
  top: 75%;
  right: 35%;
  background-color: white;
}
.image-slide-container img.current {
  opacity: 1;
}

.image-slide-container img:not(.current) {
  opacity: 0;
}